
    
    <input type="hidden" name="proj_type_id" id="proj_type_id" value="{{ proj_type['proj_type_id'] }}" />

    <h3>
        Let's create a new {{ proj_type['proj_type_name'] }}!
        <a href="#" class="tmbtn float-end" data-module="inky" data-action="close-form"><i class="fal fa-times-circle"></i></a>
    </h3>
    

    <div class="margin-3 p-2">
        <form class="ajaxform" data-module="inky" data-action="create-project-description">
            <div class="mt-2">
                <label>Project Title</label> <a href="#" class="text-primary tmbtn" data-module="inky" data-action="generate_novel_title"><i class="fas fa-sync"></i></a>
                <input type="text" class="form-control" name="project_title" id="project_title" placeholder="Enter the title of your project">
                <div class="err" id="err_project_title"></div>
            </div>
            <div class="mt-2">
                <label>Project Genre</label>
                <select class="form-select" name="project_genre" id="project_genre">
                    <option value="">Select a genre...</option>
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Drama">Drama</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Historical">Historical</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="Sci-Fi">Sci-Fi</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Western">Western</option>
                </select>
                <div class="err" id="err_project_genre"></div>
            </div>

            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Generate Project Description... below.</button>
            </div>

        </form>

        <form class="ajaxform" data-module="inky" data-action="create-project-idea">
            <input type="hidden" name="project_genre" id="project_genre_2" value="" />
            <input type="hidden" name="project_title" id="project_title_2" value="" />
            <div class="mt-2">
                <label>Project Description</label>
                <textarea class="form-control autosize" name="project_descr" id="project_description" placeholder="Enter a brief description of your project"></textarea>
                <div class="err" id="err_project_descr"></div>
            </div>
            
            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Generate Project Idea... below.</button>
            </div>
        </form>

    </div>
        


<div><h4>Your project idea will appear here.</h4></div>
<div id="project_idea_output" class="border border-warning-subtle rounded-3 border-3"><div class="text-center">HERE</div></div>

<script type="text/javascript">
    $(document).ready(function(){
        autosize($("textarea.autosize"));

        $(document).on('change', '#project_genre', function(){
            $("#project_genre_2").val($(this).val());
            
        });
    });
</script>

