<div>
    <form class="ajaxform" data-module="add-tool-type" data-action="">
        <label for="tool_type_name">Tool Type Name:</label>
        <input type="text" class="form-control" id="tool_type_name" name="tool_type_name" required>

        <label for="tool_type_descr">Tool Type Description:</label>
        <textarea class="form-control" id="tool_type_descr" name="tool_type_descr" required></textarea>

        <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
    </form>

    </form>
</div>